.projects {
  background: var(--surface);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 40px;
}

/* Responsive Design  */
@media (max-width: 768px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}
